@model IEnumerable<SANATIFY.Models.ConcertViewModel>
@{
    ViewData["Title"] = "All Artist Concerts";
}

<div class="centered-container">
    <h2>All Concerts</h2>
    <table class="table table-light table-bordered table-primary table-responsive table-striped">
        <thead>
        <tr>
            <th>Concert Id</th>
            <th>Date</th>
            <th>Price</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var concert in Model)
        {
            <tr>
                <td>@concert.ID</td>
                <td>@concert.Date.ToString("d")</td>
                <td>@concert.Price</td>
                <td>
                    @if (concert.Valid)
                    {
                        <span>Available</span>
                    }
                    else
                    {
                        <span>Cancelled</span>
                    }
                </td>
                <td>
                    @if (concert.Valid)
                    {
                        <form method="post" asp-action="CancelConcert" asp-controller="User">
                            <input type="hidden" name="concertId" value="@concert.ID"/>
                            <button type="submit" class="btn btn-danger">Cancel</button>
                        </form>
                    }
                    else
                    {
                        <span>Cancelled</span>
                    }
                </td>

            </tr>
        }
        </tbody>
    </table>
</div>