@model IEnumerable<SANATIFY.Models.MusicViewModel>
@{
    ViewData["Title"] = "Artist Songs";
}

<div class="centered-container">
    <h2>Artist Songs</h2>
    <table class="table table-light table-bordered table-primary table-responsive table-striped">
        <thead>
        <tr>
            <th>Song ID</th>
            <th>Name</th>
            <th>Genre</th>
            <th>Cover</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var song in Model)
        {
            <tr>
                <td>@song.ID</td>
                <td>@song.Name</td>
                <td>@song.Genre_ID</td>
                <td>@song.Cover</td>
            </tr>
        }
        </tbody>
    </table>
</div>